@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.hidden {
    display: none;
}

#hidden {
    display: none;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(0, 0%, 100%);
    width: 50%;
    height: 100vh;
    margin-right: 17%;
}

.front-card {
    display: flex;
    flex-direction: column;
    background-image: url(/img/bg-card-front.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 15.5rem;
    width: 28.5rem;
    margin-bottom: 2rem;
    text-transform:uppercase;
    letter-spacing: 3px;
    box-sizing: border-box;
    gap: 1.2rem;
}

.front-card-logo {
    position: relative;
    top: 30px;
    left: 30px;
    width: 100px;
}

.front-card-number {
    font-size: 1.75rem;
    margin: 60px 0 0 30px
}

.front-card-name {
    width: 80%;
}

.second-section {
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 62px;
}

.back-card {
    background-image: url(/img/bg-card-back.png);
    background-repeat: no-repeat;
    height: 15.5rem;
    width: 28.5rem;

}

.back-card-cvc {
    position: absolute;
    margin-top: 7rem;
    margin-left: 23rem;
}

.credit-card-form {
    padding: 1rem;
    margin: 0 18rem 0 1rem;
}

.credit-card-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.credit-card-form form p {
    margin: 0 0 8px 0;
    color: hsl(278, 68%, 11%);
}

.credit-card-form-name input, .credit-card-form-number input {
    min-width: 12rem;
    width: 75%;
}

.credit-card-form form input[type="text"], .credit-card-form form input[type="number"]  {
    border: hsl(270, 3%, 87%) 2px solid;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

.credit-card-form form input[type="text"]:hover, .credit-card-form form input[type="number"]:hover {
    border: hsl(278, 94%, 30%) 2px solid;
    cursor: pointer;
}

.credit-card-form form input[type="text"]:focus, .credit-card-form form input[type="number"]:focus {
    outline: none;
    border: hsl(249, 99%, 64%) 2px solid;
    cursor: text;
}


.credit-card-form-expdate input {
    min-width: 5.1rem;
    width: 33.5%;
}

.credit-card-form-cvc input {
    min-width: 12rem;
    width: 75%;
}

.credit-card-form form input[type="button"], .thank-you-button {
    background-color: hsl(278, 68%, 11%);
    color: white;
    border: hsl(278, 68%, 11%) 1px solid;
    padding: 10px;
    border-radius: 10px;
    min-width: 13.5rem;
    width: 81%;
    transition: 0.5s;
}

.credit-card-form form input[type="button"]:hover, .thank-you-button:hover {
    background-color: hsl(278, 94%, 30%);
    border: hsl(278, 94%, 30%) 1px solid;
    cursor: pointer;
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 18rem 0 1rem;
}

.thank-you-title {
    color: hsl(278, 68%, 11%);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-top: 30px;
    min-width: 15rem
}

.thank-you-subtitle {
    margin-top: 10px;
    font-size: 1.25rem;
    color: hsl(279, 6%, 55%);
}

.thank-you-button {
    margin-top: 30px;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .main {
        flex-direction: column;
    }

    .credit-card-info {
        background-image: url(/img/bg-main-mobile.png);
        width: 100vw;
        height: 35rem;
        margin-right: 0;
    }

    .credit-card-form {
        padding: 0;
        margin: 50px 0 50px 13% ;
    }

    .credit-card-form form p {
        font-size: 1.3rem
    }

    .credit-card-form form input[type="text"], .credit-card-form form input[type="number"]  {
        font-size: 1.3rem;
    }

    .credit-card-form-expdate input {
        min-width: 5.1rem;
        width: 35%;
    }

    .credit-card-form form input[type="submit"] {
        height: 3rem;
    }

    .thank-you {
        margin: 50px 0 50px 0;
    }
}
